{% extends 'pagina/plantillaini.html' %}
   {% block content %}
   {% load static %}
   <link rel="stylesheet" href="{% static '../static/pagina/css/style.css' %}">
      <div id="about" class="about">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12 col-lg-7">
                  <div class="about_box">
                     <div class="titlepage">
                        <h2><strong class="yellow">Acerca de nosotros</strong><br> Bienvenidos a S.A.L. – Sistema de Concesión de Alquiler Logístico para PYMES Comerciales</h2>
                     </div>
                     <h3>Nuestro objetivo</h3>
                     <p>En S.A.L., nuestro objetivo es brindar soluciones tecnológicas accesibles y eficientes para pequeñas y medianas empresas (PYMES) que buscan optimizar la gestión de sus inventarios y procesos logísticos. Nos especializamos en ofrecer una plataforma web que facilita el control de productos y almacenes, ayudando a las PYMES a ahorrar tiempo, reducir costos y mejorar su eficiencia operativa.</p>

                     <span>Misión</span>
                     <p>Nuestra misión es empoderar a las PYMES con tecnología que simplifique sus operaciones logísticas, permitiéndoles competir de manera más efectiva en el mercado, mientras se reducen costos y mejoran la productividad.</p>


                     <span>Visión</span>
                     <p>Convertirnos en la plataforma líder de soluciones logísticas para PYMES en toda América Latina, apoyando el crecimiento sostenible de los pequeños negocios mediante la innovación tecnológica.</p>

                     <span>¿Qué ofrecemos?</span>
                     <p>Nuestro Sistema de Alquiler Logístico (S.A.L.) está diseñado específicamente para cubrir las necesidades logísticas de pequeños negocios con recursos limitados. Proporcionamos una solución digital que centraliza el control de inventarios, mejorando el acceso y la visibilidad de los productos almacenados. Entre las principales características de nuestra plataforma, se incluyen:
                        Gestión de Inventarios: Controla el stock de manera fácil y automática. El sistema notifica cuando el inventario está bajo, asegurando que nunca te quedes sin productos esenciales.
                        Consultas en Tiempo Real: Accede a información actualizada sobre la disponibilidad de productos, precios y otros datos clave desde cualquier dispositivo.
                        Optimización Logística: Facilita la toma de decisiones a través de la automatización de procesos, lo que reduce el esfuerzo manual y mejora la eficiencia de tu negocio.
                        Capacitación Personalizada: Ofrecemos capacitación para que los dueños y empleados puedan utilizar el sistema sin necesidad de conocimientos técnicos previos.</p>
                     
                     <span>¿Por qué elegir S.A.L.?</span>
                     <p>Sabemos que muchas PYMES enfrentan dificultades para implementar soluciones tecnológicas costosas y complejas. En S.A.L., nos enfocamos en ofrecer una plataforma accesible, intuitiva y completamente adaptada a las necesidades de tu negocio. Nuestro sistema está diseñado para optimizar el manejo de tus inventarios sin requerir grandes inversiones en infraestructura.</p>

                     <span>Únete a S.A.L.</span>
                     <p>Si buscas mejorar la eficiencia de tu negocio, optimizar tus procesos logísticos y simplificar el manejo de inventarios, ¡S.A.L. es la solución perfecta para ti! Ponte en contacto con nosotros y descubre cómo podemos ayudarte a llevar tu empresa al siguiente nivel.</p>
                  </div>
               </div>
               <div class="col-md-12 col-lg-5">
                  <div class="about_img">
                     <figure><img src="{% static '/pagina/img/about1.jpg' %}" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section -->
<!-- about section -->
      <div id="service" class="service">
         <div class="container">
            <div class="row">
               <div class="col-md-7">
                  <div class="titlepage">
                     <h2><strong class="yellow">CARACTERÍSTICAS DE NUESTRO SERVICIO</strong><br> LOS BENEFICIOS QUE TENDRÁ TU NEGOCIO CON NUESTRA PLATAFORMA</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="{% static  '/pagina/img/bene1.png' %}" alt="#" />
                     <h3>ACCESIBLE PARA TU NEGOCIO</h3>
                     <p style=" text-align: justify;"> Nuestra plataforma esta destinada para ser utilizada y agil de adquirir para tu bolsillo.</p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="{% static '/pagina/img/bene2.png' %}" alt="#" />
                     <h3>PLANTEA TU NEGOCIO</h3>
                     <p style=" text-align: justify;">Nuestro sistema agilizará tu logistica y proyectar el stock de tus productos en el mercado.</p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="{% static '/pagina/img/bene3.png' %}" alt="#" />
                     <h3>MULTIUSUARIO Y MULTICOMPATIBLE</h3>
                     <p style=" text-align: justify;">Puedes utilizar nuestro gestor desde una computadora, tablet o celular y siempre estará funcionando de la mejor forma.</p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="{% static '/pagina/img/bene4.png' %}" alt="#" />
                     <h3>SOPORTE ACTIVO</h3>
                     <p style=" text-align: justify;">Podrás contactarnos y te entregaremos todo lo posible para que puedas resolver tus dudas y proceso de capacitación para rentabilizar nuestra solución.</p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="{% static '/pagina/img/bene5.png' %}" alt="#" />
                     <h3>TOTALMENTE ADMINISTRADO POR TÍ</h3>
                     <p style=" text-align: justify;">Nuestro sistema esta 100% diseñado para las necesidades de tu negocio, cualquier mejora la desarrollaremos para tí.</p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="{% static '/pagina/img/bene6.png' %}" alt="#" />
                     <h3>INTELIGENCIA DE PRECIOS</h3>
                     <p style=" text-align: justify;">¿Tienes dudas a cuanto vender tus productos? Nosotros te ayudamos acorde a tu inventario precios sugeridos de compra y venta.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="{% static  '/pagina/img/bene7.png' %}" alt="#" />
                     <h3>NOTIFICACIÓN DE STOCKS</h3>
                     <p style=" text-align: justify; margin-bottom: 150px;">Con nosotros siempre estarás conciente de que nunca te falten tus productos para que puedas reabastecerte lo antes posible para tu negocio.</p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="{% static '/pagina/img/bene8.png' %}" alt="#" />
                     <h3>PERSONALIZA A TU NECESIDAD</h3>
                     <p style=" text-align: justify; margin-bottom: 150px;">Adapta y mejora como desees tu inventario a las necesidades que tiene tu negocio.</p>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6">
                  <div id="ho_color" class="service_box">
                     <img src="{% static '/pagina/img/bene9.png' %}" alt="#" />
                     <h3>EMITE REGISTROS</h3>
                     <p style=" text-align: justify; margin-bottom: 150px;">Podrás registrar toda actividad logistica de tus productos de manera integra a un sistema totalmente administrador para tu negocio.</p>
                  </div>
               </div>
            </div>
         </div>
     
   {% endblock content %}

 
