{% extends 'pagina/plantillaini.html' %}
   {% block content %}
   {% load static %}
      <!-- Opiniones Line -->
      <section class="testimonial-area">
         <div class="container">
            <div class="sec-title white-title">
               <h2>Testimonios</h2>
               <p>¿Que dicen los clientes de nosotros?</p>
            </div>
            <div class="testimonial-content owl-carousel">
               <!-- Single Testimonial -->
               <div class="single-testimonial">
                  <div class="round-1 round"></div>
                  <div class="round-2 round"></div>
                  <p>SAL es una página web que destaca por su enfoque innovador y su dedicación a proporcionar contenido de alta calidad para sus usuarios. Después de explorar el sitio en profundidad, puedo decir que ofrece una experiencia de navegación excelente, tanto para usuarios nuevos como para aquellos más experimentados</p>
                  <div class="client-info">
                     <div class="client-details">
                        <h6>Banjamin Soto Menor</h6>
                        <span>Tienda de musica"Tocate este", Santiago centro</span>
                     </div>
                  </div>
      
               </div>
               <!-- Single Testimonial -->
               <div class="single-testimonial">
                  <div class="round-1 round"></div>
                  <div class="round-2 round"></div>
                  <p>SAL es una página web que se destaca por su enfoque práctico y directo, ideal para aquellos que buscan soluciones rápidas y efectivas. Desde el momento en que entras en el sitio, te das cuenta de que está diseñado para ofrecer una experiencia eficiente y sin complicaciones</p>
                  <div class="client-info">
                     <div class="client-details">
                        <h6>Benjamin Alarcon</h6>
                        <span>Panificadora "La plaza",Renca</span>
                     </div>
                  </div>
      
               </div>
               <!-- Single Testimonial -->
               <div class="single-testimonial">
                  <div class="round-1 round"></div>
                  <div class="round-2 round"></div>
                  <p>SAL es una página web que se destaca por su simplicidad y facilidad de uso, lo que la convierte en una herramienta accesible para todo tipo de usuarios, independientemente de su nivel de experiencia con la tecnología</p>
                  <div class="client-info">
                     <div class="client-details">
                        <h6>Augusto Barriga</h6>
                        <span>Cerveceria "Tomate uno", Huechuraba</span>
                     </div>
                  </div>
      
               </div>
               <!-- Single Testimonial -->
               <div class="single-testimonial">
                  <p>SAL es una página web que destaca por su efectividad en proporcionar soluciones rápidas y precisas. Desde el primer momento, la página está claramente orientada a ayudar al usuario a alcanzar sus objetivos de manera eficiente, lo que la convierte en una opción ideal para quienes valoran su tiempo</p>
                  <div class="client-info">
                     <div class="client-details">
                        <h6>Roberto Manfinfla</h6>
                        <span>Panificadora "El buen pan", Quilicura</span>
                     </div>
                  </div>
      
               </div>
               <!-- Single Testimonial -->
               <div class="single-testimonial">
                  <div class="round-1 round"></div>
                  <div class="round-2 round"></div>
                  <p>SAL es una página web que se destaca por su gran capacidad para ofrecer soluciones rápidas y eficientes a las necesidades de sus usuarios. Es evidente que el equipo detrás de SAL ha puesto un gran esfuerzo en optimizar la plataforma, tanto en términos de rendimiento como de funcionalidad.</p>
                  <div class="client-info">
                     <div class="client-details">
                        <h6>Gerardo Guerrero</h6>
                        <span>Local 8, Feria San Miguel</span>
                     </div>
                  </div>
      
               </div>
            </div>
         </div>
      </section>
   {% endblock content %}
   python --version
