{% extends 'pagina/plantillaini.html' %}
{% block content %}
{% load static %}

   <!-- end banner -->
   <!-- about section -->
   <div id="about" class="about">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-12 col-lg-7">
               <div class="about_box">
                  <div class="titlepage">
                     <h2><strong class="yellow">Acerca de nosotros</strong><br> Bienvenidos a S.A.L. – Sistema de Concesión de Alquiler Logístico para PYMES Comerciales</h2>
                  </div>
                  <h3>Nuestro objetivo</h3>
                  <p>En S.A.L., nuestro objetivo es brindar soluciones tecnológicas accesibles y eficientes para pequeñas y medianas empresas (PYMES) que buscan optimizar la gestión de sus inventarios y procesos logísticos. Nos especializamos en ofrecer una plataforma web que facilita el control de productos y almacenes, ayudando a las PYMES a ahorrar tiempo, reducir costos y mejorar su eficiencia operativa.</p>
                  <a class="read_morea" href="#">Get Started <i class="fa fa-angle-right" aria-hidden="true"></i></a>
               </div>
            </div>
            <div class="col-md-12 col-lg-5">
               <div class="about_img">
                  <figure><img src="{% static '/pagina/img/about_img2.jpg' %}" alt="#" /></figure>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- about section -->
   <!-- service section -->
   <div id="service" class="service">
      <div class="container">
         <div class="row">
            <div class="col-md-7">
               <div class="titlepage">
                  <h2><strong class="yellow">service</strong><br> WE CAN HELP YOUR business GROW</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4 col-sm-6">
               <div id="ho_color" class="service_box">
                  <img src="{% static  '/pagina/img/service_icon1.png' %}" alt="#" />
                  <h3>DIGITAL marketing</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and1500s, </p>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div id="ho_color" class="service_box">
                  <img src="{% static '/pagina/img/service_icon2.png' %}" alt="#" />
                  <h3>FINANCIAL PLANING</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and1500s, </p>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div id="ho_color" class="service_box">
                  <img src="{% static '/pagina/img/service_icon3.png' %}" alt="#" />
                  <h3>DIGITAL marketing</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and1500s, </p>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div id="ho_color" class="service_box">
                  <img src="{% static '/pagina/img/service_icon4.png' %}" alt="#" />
                  <h3>BUSINESS CONSULTING</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and1500s, </p>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div id="ho_color" class="service_box">
                  <img src="{% static '/pagina/img/service_icon5.png' %}" alt="#" />
                  <h3>MARKETING RESEARCH</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and1500s, </p>
               </div>
            </div>
            <div class="col-md-4 col-sm-6">
               <div id="ho_color" class="service_box">
                  <img src="{% static '/pagina/img/service_icon6.png' %}" alt="#" />
                  <h3>UX RESEARCH</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and1500s, </p>
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
   {% endblock content %}
