{% load static %}
<link rel="stylesheet" href="{% static 'pagina/css/log_in.css' %}">
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login">
				
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="User name / Email">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password" id="password" name="password" maxlength="6"pattern="^[A-Z][A-Za-z0-9]{1,5}\d$" 
					title="Debe comenzar con una letra mayúscula, contener al menos un número, y tener máximo 6 caracteres."
					required>
				</div>
				<button class="button login__submit">
					<span class="button__text" >Iniciar sesión</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>