/* Estilos Generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
}

.btn-create {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn-create i {
    margin-right: 5px;
}

.filters {
    margin-bottom: 20px;
}

.filters label {
    margin-right: 10px;
}

.filters select {
    padding: 5px;
    margin-right: 20px;
}

.filters .btn-filter {
    padding: 5px 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.product-table th, .product-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.product-table th {
    background-color: #f4f4f4;
}

.product-table td a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.btn-edit {
    background-color: #28a745;
    margin-right: 10px;
}

.btn-delete {
    background-color: #e74c3c;
}

.btn-edit i, .btn-delete i {
    margin-right: 5px;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination .page-link a {
    text-decoration: none;
    margin: 0 5px;
    color: #3498db;
}

.pagination .page-link a:hover {
    text-decoration: underline;
}

