<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración</title>
    <link rel="stylesheet" href="{% static '/css/adminstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/lateral.css' %}">
</head>
<body>
    <div class="sidebar">
        <div class="perfil">
            <div class="perfil-imagen"></div>
            <p>
                {% if user.is_authenticated %}
                    {{ user.username }}  <!-- Muestra el nombre de usuario logueado -->
                {% else %}
                    Invitado  <!-- En caso de que el usuario no esté logueado -->
                {% endif %}
            </p>
        </div>
        <ul>
            <li><a href="{% url 'adminpage' %}">Página de Inicio</a></li>
            <li><a href="{% url 'vendedor' %}" class="active">Registro Inventario</a></li>
            <li><a href="{% url 'modificarperfil' %}" class="btn btn-primary w-100">Editar Perfil</a></li> <!-- Botón para editar perfil -->
            <!--<li><a href="{% url 'ver_perfil' %}">Ver perfil</a></li>--> <!-- comentado mientras por que da error -->
            <li>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger w-100">Cerrar Sesión</button>
                </form>
            </li>
        </ul>
    </div>
    

    <div class="main-content">
        <!-- Mostrar el nombre del usuario que ha iniciado sesión -->
        <h1>¡Bienvenido, {{ user.username }}!</h1>
        
        <div class="section">
            <h2>Productos con Mayor Stock</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se agregarán los productos mediante JavaScript -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Incluir el archivo JS -->
    <script src="{% static 'js/stock.js' %}"></script>
</body>
</html>
