{% extends 'plantillaini.html' %}
   {% block content %}
   {% load static %}
   <link rel="stylesheet" href="{% static 'css/clients.css' %}">

  <!-- Sección de Clientes -->
  <div id="clientes" class="clientes py-5">
   <div class="container">
      <!-- Título -->
      <div class="titlepage text-center mb-5">
         <h2><strong class="yellow">NUESTROS CLIENTES</strong><br> CONFIARON EN S.A.L – TESTIMONIOS DE CLIENTES</h2>
         <p>A continuación algunos de los clientes que han confiado en nosotros y voluntariamente relataron sus experiencias y testimonios de S.A.L.:</p>
      </div>
      <!-- Clientes -->
      <div class="row g-4">
         <!-- Cliente 1 -->
         <div class="col-md-4 col-sm-6">
            <div class="cliente-box text-center">
               <img class="img-fluid mb-3" src="{% static 'img/client1.jpg' %}" alt="Cliente 1 Logo">
               <h3 class="mb-3">Raúl Camargo | Bazar Los Nogales</h3>
               <p class="text-justify">"El servicio que hemos recibido ha sido muy peculiar para mí. Estoy acostumbrado a hacer mis gestiones a papel y me resulta más sencillo y ágil ver mis productos. Gracias a S.A.L., mejoré mis hábitos logísticos de mi emprendimiento."</p>
            </div>
         </div>
         <!-- Cliente 2 -->
         <div class="col-md-4 col-sm-6">
            <div class="cliente-box text-center">
               <img class="img-fluid mb-3" src="{% static 'img/client2.jpg' %}" alt="Cliente 2 Logo">
               <h3 class="mb-3">Ana Melinao | Almacén Antumalal</h3>
               <p class="text-justify">"Cuando contactaron conmigo para ser invitada a esta experiencia, nunca pensé que el proceso sería tan positivo. Es muy útil para comunicarme con mis proveedores antes de que se acaben mis productos. Me ha encantado y quiero seguir utilizando su idea."</p>
            </div>
         </div>
         <!-- Cliente 3 -->
         <div class="col-md-4 col-sm-6">
            <div class="cliente-box text-center">
               <img class="img-fluid mb-3" src="{% static 'img/client3.jpg' %}" alt="Cliente 3 Logo">
               <h3 class="mb-3">María del Carmen Eleazár | Almacén Para Fé</h3>
               <p class="text-justify">"Llevo 15 años con nuestro sustento de vida. Nuestra familia depende mucho de nuestro negocio, y conocer su propuesta me ha ayudado demasiado a gestionar nuestra vida. Hemos ido para arriba gracias a ustedes."</p>
            </div>
         </div>
      </div>
   </div>
</div>


   {% endblock content %}
   python --version
