<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pago con PayPal</title>
    </head>
    <body>
        <div id="paypal-button-container"></div>
        <script
            src="https://www.paypal.com/sdk/js?client-id=Adad0EgVu3sVdjGIQ8AonmtCuAPrGJyw7dV03UJQKLnDgFxgHmg42q-z_ba-rUaotoU50DgB4G-SWZbW&currency=USD"
            data-sdk-integration-source="developer-studio"
        ></script>
        <script>
            window.paypal
                .Buttons({
                    style: {
                        shape: "pill",
                        layout: "vertical",
                        color: "blue",
                        label: "pay",
                    },
                    // Crear orden con monto fijo
                    createOrder: function (data, actions) {
                        return actions.order.create({
                            purchase_units: [
                                {
                                    amount: {
                                        value: "16", // Monto fijo
                                        currency_code: "USD", // Moneda
                                    },
                                },
                            ],
                        });
                    },
                    // Al aprobar el pago
                    onApprove: function (data, actions) {
                        return actions.order.capture().then(function (details) {
                            alert(
                                `Pago completado con éxito por ${details.payer.name.given_name}`
                               
                            );
                            window.location.href = '{%url 'signin' %}';
                            console.log("Detalles del pago:", details);
                        });
                    },
                    // Manejo de errores
                    onError: function (err) {
                        console.error("Error en PayPal:", err);
                        alert("Ocurrió un error. Por favor, inténtalo nuevamente.");
                    },
                })
                .render("#paypal-button-container");
        </script>

        <script src="{% static 'js/app.js' %}"></script>


    </body>
</html>
