<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save_in</title>
    <!-- Aquí puedes incluir CSS, JavaScript, etc. -->
</head>
<body>
    <header>
        <!-- Aquí puedes agregar un menú de navegación o barra de navegación -->
    </header>

    <div class="container">
        {% block content %}
        <!-- El contenido específico de cada página se insertará aquí -->
        {% endblock %}
    </div>

    <footer>
        <!-- Pie de página, si tienes uno -->
    </footer>
</body>
</html>