<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Búsqueda de Productos</title>
    <link rel="stylesheet" href="{% static 'css/vendedor.css' %}">
</head>
<body>
    <div class="sidebar">
        <div class="perfil">
            <div class="perfil-imagen"></div>
            <p>Nombre Usuario</p>
        </div>
        <ul>
            <li><a href="{% url 'adminusuarios' %}">Administración de Usuarios</a></li>
            <li><a href="{% url 'adminpage' %}">Volver al Inicio</a></li>
            <!-- cerrar sesión -->
            <li>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="padding: 10px 20px; background-color: #007BFF; color: white; border: none; border-radius: 5px; cursor: pointer; font-size: inherit;">
                        Cerrar Sesión
                    </button>
                </form>
            </li>
        </ul>
    </div>

    <div class="main-content">
        <h1>Búsqueda de Productos</h1>

        <div class="inventory-controls">
            <input type="text" id="buscar-producto" placeholder="Buscar producto...">
            <a href="{% url 'crearproducto' %}"><button type="button">Crear Producto</button></a>
            <button id="sumar-stock">Sumar Stock</button>
            <button id="restar-stock">Restar Stock</button>
        </div>

        <!-- Mostrar los productos en la tabla -->
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Stock</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.stock }}</td>
                    <td>${{ producto.precio }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No hay productos disponibles</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
